<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>kdniao</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>WEB-INF/classes/log4j.properties</param-value>
  </context-param>
  <listener>
    <description>MyServletContextAttributeListener</description>
    <listener-class>com.hgh.interceptors.runInter</listener-class>
  </listener>
  <listener>
    <description>runlogistCode</description>
    <listener-class>com.hgh.interceptors.runLogistCode</listener-class>
  </listener>
  <!-- 
  <listener>
    <description>logistCodeListener</description>
    <listener-class>com.hgh.interceptors.LogisticCodeListener</listener-class>
  </listener>
   -->
  <listener>
    <description>signListener</description>
    <listener-class>com.hgh.interceptors.Listener</listener-class>
  </listener>
  <servlet>
    <servlet-name>send</servlet-name>
    <servlet-class>com.hgh.servlet.sendkdniao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>send</servlet-name>
    <url-pattern>/send</url-pattern>
  </servlet-mapping>
  <!-- 
  <servlet>
    <servlet-name>send1</servlet-name>
    <servlet-class>com.hgh.servlet.sendkdniao1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>send1</servlet-name>
    <url-pattern>/send1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>send2</servlet-name>
    <servlet-class>com.hgh.servlet.sendkdniao2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>send2</servlet-name>
    <url-pattern>/send2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>send3</servlet-name>
    <servlet-class>com.hgh.servlet.sendkdniao3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>send3</servlet-name>
    <url-pattern>/send3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>send4</servlet-name>
    <servlet-class>com.hgh.servlet.sendkdniao4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>send4</servlet-name>
    <url-pattern>/send4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>send5</servlet-name>
    <servlet-class>com.hgh.servlet.sendkdniao5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>send5</servlet-name>
    <url-pattern>/send5</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>send6</servlet-name>
    <servlet-class>com.hgh.servlet.sendkdniao6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>send6</servlet-name>
    <url-pattern>/send6</url-pattern>
  </servlet-mapping>
   -->
   <servlet>
    <servlet-name>instantQuery</servlet-name>
    <servlet-class>com.hgh.servlet.InstantQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>instantQuery</servlet-name>
    <url-pattern>/instantQuery</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LogistTest</servlet-name>
    <servlet-class>com.hgh.servlet.receiveZmLogisticCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogistTest</servlet-name>
    <url-pattern>/LogistTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>kdniaoQuery2</servlet-name>
    <servlet-class>com.hgh.servlet.kdniaoLogistics2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kdniaoQuery2</servlet-name>
    <url-pattern>/kdniaoQuery2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>query</servlet-name>
    <servlet-class>com.hgh.servlet.queryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>query</servlet-name>
    <url-pattern>/query</url-pattern>
  </servlet-mapping>
</web-app>